/* INITIAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #c66868; */
  text-decoration: none;
  background-color: black;
  color: white;
  max-width: 1920px;
  width: 100%;
  margin: auto;
}
a {
  text-decoration: none;
  color: white;
  padding: 0 0.75rem;
}
i {
  pointer-events: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

/* NAVBAR */

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7dd3fc;
  box-shadow: 0px 2px 2px #7dd3fc;
  padding: 0 5%;
  z-index: +10;
  position: sticky;
}

/* LOGO */

.logo {
  flex: 1;
}
#logo {
  font-family: "Dancing Script", cursive;
  font-size: 1.75rem;
  font-weight: 500;
  color: white;
  transition: all 0.2s ease-in;
}
#logo:hover {
  color: black;
  font-size: 1.9rem;
  font-weight: 900;
}

/* NAV-LINKS */

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  padding: 1.5rem;
}
.nav-link {
  font-size: 1rem;
}
.nav-link:hover {
  color: black;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

/* hero SECTION */
.hero {
  min-height: 90vh;
  padding: 2rem 5% 0 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.hero-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  flex: 1 1 350px;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: linear-gradient(to right, #000, #3c5865);
  border-radius: 1rem;
  flex: 1 1 350px;
}
.hero-img:hover {
  overflow: hidden;
  #profile-picture {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
  }
}

.hero-data > p {
  width: 80%;
}
.hero-data > h1 {
  font-size: 4.5rem;
  font-family: "Roboto", sans-serif;
}
.hero-position {
  font-weight: bold;
  color: #7dd3fc;
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.download-btn {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: #7dd3fc;
  border: none;
  border: 4px solid #7dd3fc;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

.download-btn:hover {
  background-color: #319bcc;
  border: 4px solid #319bcc;
  color: white;
}

/* DASHBOARD STYLING */

.dashboard {
  padding: 4rem 5%;
}

.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.dash-item {
  flex: 1 1 250px;
  border: 2px groove #7dd3fc;
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
}

.dash-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;

  /* margin: 1rem; */
}

/* .dash-item:nth-child(2) {
  margin-inline: 0.5rem;
} */

.dash-item:hover {
  background: linear-gradient(#7dd3fc, #000);
  transition: all 0.3s ease-in-out;
  color: white;
  .dash-heading {
    color: black;
  }
}

.dash-heading {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.dash-content {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 0.25rem;
}

@keyframes profile {
  from {
    rotate: 0deg;
  }
  25% {
    rotate: 10deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -10deg;
  }
  to {
    rotate: 0deg;
  }
}

/* WHY ME STYLING */
.why-img {
  width: full;
}

.why {
  padding: 1rem 5%;
}

.why-container {
  display: flex;
  flex-wrap: wrap;
}

.why-card {
  padding: 0.5rem 0.25rem;
  border: 2px solid #7dd3fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 200px;
  border-radius: 1rem;

  div {
    padding: 0 0.3rem;
    margin: 0.25rem 0;
  }
  h4 {
    padding: 0.25rem 0.3rem;
  }
  p {
    padding: 0 0.3rem;
    text-align: justify;
  }
}

.why-card:hover {
  background-color: white;
  transition: all 0.3s ease-in-out;
  color: black;
  h4 {
    color: #7dd3fc;
  }
}

.why-container {
  gap: 0.5rem;
}

/* SKILLS STYLING */
.skills-containter {
  padding: 2rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-items {
  padding: 0.5rem 1.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px #7dd3fc solid;
  border-radius: 8px;
  filter: grayscale(70%);
  cursor: pointer;
  flex-basis: 270px;

  transition: all 0.3s ease-in-out;
  img {
    width: 90%;
  }
}
.skill-items:hover {
  background-color: #3c5865;
  filter: grayscale(0%);
}

/* Footer Border */
.footer-border {
  width: 100%;
  height: 2px;
  background-color: #7dd3fc;
}

/* FOOTER STYLING */

footer {
  background-color: #2f3e45;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 5%;
  a {
    padding: 0;
  }
  a:hover {
    color: #7dd3fc;
    font-weight: 500;
  }
}

.socials {
  flex: 1;
}
.important-links,
.social-links {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 0.7rem;
  i {
    padding: 0 0.5rem 0 0;
    font-size: 1rem;
  }
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 2;
  #logo:hover {
    color: #7dd3fc;
  }
  p {
    width: 70%;
    text-align: center;
  }
}

#favicon {
  padding: 0.75rem 0;
  mix-blend-mode: multiply;
  transition: all 0.2s ease-in-out;
  animation: favIcon 2s ease-in infinite forwards;
}

#favicon:hover {
  animation-duration: 0.1s;
}

@keyframes favIcon {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 180deg;
  }
}

/* ABOUT US STYLING */

.about {
  padding: 2rem 5%;
}

.about-content:hover {
  /* background-color: #7dd3fc; */
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: #7dd3fc 1px solid;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.about-heading {
  padding: 0.75rem 0;
  color: #7dd3fc;
}
.about-para {
  font-style: italic;
}

/* PROJECTS STYLING */
.projects-container {
  padding: 2rem 5%;
  display: flex;
  align-items: start;
  gap: 3%;

  flex-wrap: wrap;
}

.projects {
  width: 30%;
  border: 2px solid #7dd3fc;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 1rem 0;

  img {
    width: 100%;
  }

  i {
    color: #7dd3fc;
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.projects:hover {
  background-color: white;
  color: #7dd3fc;
  box-shadow: 2px 2px 0.75rem #7dd3fc;
  button {
    background-color: #7dd3fc;
  }
  i {
    color: #fff;
  }
}

.project-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1rem;
  border: none;
  gap: 10%;
}

.project-details > button {
  border: none;
  background-color: #fff;
  border-radius: 8px;
}

/* CONTACT PAGE STYLES */
.contact-page {
  padding: 2rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-details,
.contact-border,
form {
  flex: 1 1 400px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  font-size: larger;
}

.contact-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5%;
}

.contact-data:hover {
  color: #7dd3fc;
  cursor: pointer;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  background-color: white;
  padding: 2rem 4rem;
  color: #000;
  border-radius: 1.5rem;
  label {
    font-weight: 600;
    padding-right: 1rem;
  }
  input,
  textarea {
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem;
    border-bottom: 2px solid #7dd3fc;
  }
  button {
    padding: 0.75rem 1.25rem;

    border: none;
    background-color: #7dd3fc;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
  button:hover {
    background-color: #319bcc;
  }
}
